# pgAdmin ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-config
  namespace: pg
data:
  PGADMIN_DEFAULT_EMAIL: admin@admin.com
  PGADMIN_DEFAULT_PASSWORD: admin123
  PGADMIN_PORT: "80"

---
# pgAdmin Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: pg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
        - name: pgadmin4
          image: dpage/pgadmin4:latest
          ports:
            - containerPort: 80
              name: pgadminport
          envFrom:
            - configMapRef:
                name: pgadmin-config
          volumeMounts:
            - name: pgadmin-data
              mountPath: /var/lib/pgadmin
      volumes:
        - name: pgadmin-data
          emptyDir: {}

---
# pgAdmin Service
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-service
  namespace: pg
  labels:
    app: pgadmin
spec:
  type: NodePort
  ports:
    - port: 80
      nodePort: 30200
  selector:
    app: pgadmin
