@{
    ViewData["Title"] = "Page 1";
}
<h2>Enter your information</h2>
<form method="post">
    <label>Username:</label><br />
    <input type="text" name="username" required /><br />
    <label>Password:</label><br />
    <input type="password" name="password" required /><br />
    <button type="submit">Submit</button>
</form>